// Need to combat WP Core's common.css by adding a bit of specificity.
#as3cf-settings {
	&.wpome {

		//Header
		> .header {
			padding: 0 2rem;
			background-color: #FFE4CD;
			display: flex;
			align-items: center;
			height: 96px;

			.header-wrapper {
				width: 1110px;
				max-width: 1110px;
				height: 100%;
				background-image: url("../img/brand/ome-branding-transparent.svg");
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center top;
				display: flex;
				align-items: center;

				h1 {
					font-size: 1.3125rem;
					font-weight: 500;
					color: #490D32;
				}

				.medallion {
					filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.15));
					margin-right: 1rem;
					width: 52px;
					height: 52px;
				}

				.licence {
					display: flex;
					flex-direction: column;
					margin-left: auto;

					.licence-type {
						color: #EB422D;
						display: flex;
						align-items: center;
						justify-content: flex-end;

						a {
							font-size: 0.825rem;
							font-weight: 500;
							margin-left: 0.6rem;
							text-decoration: underline;
							color: var(--as3cf-color-primary-500) !important;

							&:hover {
								filter: brightness(105%);
							}
						}
					}

					p {
						font-size: 0.8125rem;
						color: #4D443D;
						margin: 0.5rem 0 0;
					}
				}

				button, a.button {
					text-transform: uppercase;
				}
			}
		}

		//Nav
		div.nav {
			width: 100%;
			margin: 0 auto 2.5rem 0;
			background: var(--as3cf-color-white);
			border-bottom: 1px solid var(--as3cf-wordpress-border-color);

			div.items {
				max-width: 1220px;
				display: flex;
				flex-direction: row;
				align-items: baseline;
				padding: 0 2rem;

				ul.nav {
					display: flex;
					flex-direction: row;
					align-items: baseline;
					margin: 0;
					padding: 1.5rem 2rem 0 0;
					font-size: 0.75rem;
					font-weight: 500;
					text-transform: uppercase;

					li {
						margin-right: 1.75rem;
						padding: 0.6rem 0.2rem 0.65rem;
						border-bottom: 3px solid #fff;

						a {
							color: var(--as3cf-color-gray-600);
							text-decoration: none;

							&:hover {
								color: var(--as3cf-color-primary-600);
							}

							&:focus {
								color: var(--as3cf-color-primary-600);
								box-shadow: 0 0 0 1.5px var(--as3cf-color-white), 0 0 0 3.5px var(--as3cf-color-primary-400);
								border-radius: 3px;
								outline: none;
							}
						}

						&.focus, &.hover {
							border-bottom: 3px solid var(--as3cf-color-gray-600);
						}

						&.active {
							border-bottom: 3px solid var(--as3cf-color-primary-500);

							a {
								color: var(--as3cf-active-nav-color);
							}
						}
					}
				}
			}
		}

		//Subnav
		.subnav {
			display: flex;
			border-bottom: 1px solid var(--as3cf-wordpress-border-color);
			padding: 0;
			align-items: baseline;
			margin: 0 0 3rem;

			&.subpage {
				display: none;

				@media(max-width: 1100px) {
					display: flex;
				}
			}

			li {
				font-size: 0.875rem;
				font-weight: 500;
				padding-bottom: 1rem;
				margin: 0 2rem 0 0;

				&.step-arrow {
					all: unset;
					display: flex;
					align-self: flex-start;
					margin: 0 2rem 0 0;
				}

				a {
					color: var(--as3cf-color-gray-600);
					text-decoration: none;


					&:hover {
						color: var(--as3cf-color-primary-600);
					}

					&:focus {
						color: var(--as3cf-color-primary-600);
						box-shadow: 0 0 0 1.5px var(--as3cf-wordpress-background-color), 0 0 0 3.5px var(--as3cf-color-primary-400);
						border-radius: 3px;
						outline: none;
					}
				}

				&.focus, &.hover {
					border-bottom: 3px solid var(--as3cf-color-gray-600);
				}

				&.active {
					border-bottom: 3px solid var(--as3cf-color-primary-500);

					a {
						color: var(--as3cf-active-nav-color);
					}
				}
			}
		}

		.lite-wrapper {
			.subnav {
				display: flex !important;
			}
		}
	}

	&.wpomepro {

		//Header
		> .header {
			.header-wrapper {
				width: 1220px;
				max-width: 1220px;
			}
		}
	}

	#global-animation-wrapper {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-left: auto;
		cursor: pointer;
		text-decoration: none;

		&:focus {
			box-shadow: none;
			outline: none;
		}

		#animation-running {
			position: relative;
			display: flex;
			flex-direction: row;
			align-items: baseline;

			.percentage {
				margin-right: 58px;
				margin-top: -0.7rem;
				text-transform: none;
				font-size: 1.2rem;
				color: var(--as3cf-color-gray-900);
				font-weight: 500;
				text-align: right;
			}

			span {
				font-size: 0.85rem;
			}

			img {
				position: absolute;
				right: 0;
				top: -30px;
				height: 42px;
			}
		}

		#animation-complete {
			display: flex;
			align-items: center;
			margin-top: -1.4rem;

			p {
				margin-right: 15px;
				font-size: 0.8rem;
				text-transform: none;
				line-height: 1;

				&.success {
					font-weight: 400;
					text-decoration: none;
					color: var(--as3cf-color-gray-500);
				}

				&.error {
					font-weight: 500;
					color: var(--as3cf-notice-error-color);
					text-decoration: underline;
				}
			}

			img {
				width: 19px;
			}
		}
	}
}
