$aws_background: #f7a80d;
$do_background: #0080ff;
$gcp_background: #ffffff;

.as3cf-provider-select {
	h3 {
		font-size: 20px;
	}

	table {
		border-collapse: collapse;
	}

	.as3cf-provider-title {
		margin: 0;
		padding: 0;
		background: #f1f1f1;

		label {
			position: relative;
			display: inline-block;

			&:hover {
				cursor: pointer;
			}
		}

		.as3cf-provider-logo {
			color: white;
			padding: 1em;
		}

		h3 {
			display: inline-block;
			position: absolute;
			top: 50%;
			left: 76px;
			transform: translateY(-50%);
			font-weight: bold;
			text-transform: none;
			padding: 0;
			margin: 0 15px;
			white-space: nowrap;
		}

		&.as3cf-provider-selected {
			cursor: default;
		}

		&.as3cf-provider-aws {
			.as3cf-provider-logo {
				background-color: $aws_background;
				border: 1px solid $aws_background;
			}
		}

		&.as3cf-provider-do {
			.as3cf-provider-logo {
				background-color: $do_background;
				border: 1px solid $do_background;
			}
		}

		&.as3cf-provider-gcp {
			.as3cf-provider-logo {
				background-color: $gcp_background;
				border-top: 1px solid #ea4335;
				border-right: 1px solid #4285f4;
				border-bottom: 1px solid #34a853;
				border-left: 1px solid #fbbc05;
			}
		}
	}

	.as3cf-provider-content {
		td {
			padding-bottom: 10px;
		}

		table {
			background: #e5e5e5;

			th {
				padding: 10px 0 10px 10px;
			}

			td {
				padding: 10px;
			}
		}

		.asc3f-provider-authmethod-title {
			label {
				font-weight: bold;
			}
		}

		.asc3f-provider-authmethod-content {
			td {
				padding-top: 0;
			}

			textarea {
				margin-top: 10px;
			}

			textarea.clear {
				width: 100%;
			}

			textarea.as3cf-define-snippet.code {
				white-space: pre;
				overflow: hidden;
				font-size: 11px;
				padding: 10px;
			}

			table.as3cf-access-keys {
				margin-top: 10px;

				th {
					padding-left: 0;
				}

				input {
					width: 100%;
				}
			}
		}
	}
}
