.aws-main {
  .error {
  	max-width: 835px;
	pre {
	  background: #eaeaea;
	  background: rgba(0, 0, 0, 0.07);
	  display: block;
	  padding: 10px 15px;

	  code {
	  	padding: 0;
		background: none;
	  }
	}
  }

  .as3cf-notice {
  	max-width: 835px;
  }
}

.as3cf-settings {
	position: relative;
	width: 550px;
	min-height: 800px;

	.as3cf-main-settings { display: none; }
	&.as3cf-has-bucket {
		.as3cf-bucket-select { display: none; }
		.as3cf-main-settings { display: block; }
	}

	.as3cf-bucket-list {
		background: #fff;
		padding: 15px 20px;
		max-height: 300px;
		overflow: auto;
		margin-bottom: 2em;

		li {
			font-size: 14px;
			margin: 5px 0;
		}
		a {
			color: #444;
			text-decoration: none;
			&:hover { color: #0074A2; }
			.dashicons { margin-right: 5px; }
		}
		&.saving { opacity: 0.5; }
	}

	.as3cf-create-bucket-form {
		input[type="text"] { width: 86%; }
	}

	select.bucket {
		margin-bottom: 5px;
		width: 380px;
	}

	.form-table {
		td {
			padding-left: 0;
			padding-right: 0;
		}
		h3 {
			font-weight: normal;
			text-transform: uppercase;
			margin: 0;
		}
		.as3cf-border-bottom td { border-bottom: 1px solid #ddd; }
	}

	.as3cf-active-bucket {
		font-weight: bold;
		margin-right: 10px;
	}

	.tooltip {
	  position: relative;
	  z-index: 2;
	  cursor: pointer;
	}

	/* Hide the tooltip content by default */
	.tooltip:before,
	.tooltip:after {
	  visibility: hidden;
	  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	  opacity: 0;
	  pointer-events: none;
	}

	/* Position tooltip above the element */
	.tooltip:before {
	  position: absolute;
	  bottom: 150%;
	  left: 50%;
	  margin-bottom: 5px;
	  margin-left: -250px;
	  padding: 10px;
	  width: 500px;
	  -webkit-border-radius: 3px;
	  -moz-border-radius:    3px;
	  border-radius:         3px;
	  background-color: #000;
	  background-color: hsla(0, 0%, 20%, 0.9);
	  color: #fff;
	  content: attr(data-tooltip);
	  text-align: center;
	  font-size: 14px;
	  line-height: 1.3;
	}

	/* Triangle hack to make tooltip look like a speech bubble */
	.tooltip:after {
	  position: absolute;
	  bottom: 150%;
	  left: 50%;
	  margin-left: -5px;
	  width: 0;
	  border-top: 5px solid #000;
	  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
	  border-right: 5px solid transparent;
	  border-left: 5px solid transparent;
	  content: " ";
	  font-size: 0;
	  line-height: 0;
	}

	/* Show tooltip content on hover */
	.tooltip:hover:before,
	.tooltip:hover:after {
	  visibility: visible;
	  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	  opacity: 1;
	}
}

.as3cf-banner {
	img {
		display: block;
	}
}

.as3cf-sidebar {
	position: absolute;
	top: 17px;
	right: -312px;
	width: 292px;

	.block {
		padding: 20px;
		border: 1px solid #ccc;
	}

	.subscribe {
		border-top: none;

		h2 {
			padding: 0;
			margin: 0;
			margin-bottom: 0.5em;
			color: #666;
			font-size: 20px;
			line-height: 1.2em;
			float: none;
		}

		h3 {
			font-size: 16px;
			margin: 0;
		}

		p {
			margin: 0;
		}

		.intro {
			margin-bottom: 1em;
			line-height: 1.4;
		}

		ul {
			margin-left: 20px;
			list-style-type: disc;
		}

		li {
			line-height: 1.4;
		}

		.links {
			margin-bottom: 2em;

			a {
				text-decoration: none;
			}
		}

		.promise {
			color: #999;
			font-size: 12px;
			line-height: 1.4em;
		}

		.field {
			margin-bottom: 0.5em;

			p {
				margin-bottom: 0.3em;
			}

			&.submit-button {
				margin-bottom: 1em;
			}
		}
	}

	.credits {
		border-top: 0;

		h4 {
			font-size: 16px;
			margin-top: 0;
			margin-bottom: 10px;
		}

		ul {
			margin: 0;
		}

		li {
			overflow: hidden;
		}

		li:last-child {
			margin-bottom: 0;
		}

		img {
			float: left;
			margin-right: 10px;
		}

		span {
			float: left;
			display: block;
			line-height: 32px;
		}

		a {
			display: block;
			text-decoration: none;
			color: #444;
			font-size: 16px;
			text-align: center;

			&:hover {
				color: #888;
			}
		}
	}

	@media (min--moz-device-pixel-ratio: 1.3),
		(-o-min-device-pixel-ratio: 2.6/2),
		(-webkit-min-device-pixel-ratio: 1.3),
		(min-device-pixel-ratio: 1.3),
		(min-resolution: 1.3dppx) {

		.as3cf-banner {
			background-image: url(../img/snail@2x.jpg);
			background-size: 292px 165px;
			width: 292px;
			height: 165px;
			display: block;

			img {
				display: none;
			}
		}
	}

	@media screen and (max-width: 1052px) {
		position: relative;
		top: auto;
		right: auto;
		margin-top: 50px;
	}
}
