.toggler.svelte-k1tgof:not(.toggleDisabled) {
    cursor: pointer
}

.panel-row.svelte-41r5oq.svelte-41r5oq {
    position: relative
}

.header.svelte-41r5oq .gradient.svelte-41r5oq {
    position: absolute;
    width: 144px;
    left: 0;
    top: 0;
    bottom: 0;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    border-top-right-radius: 5px
}

.content.svelte-5j10or.svelte-5j10or {
    padding: 1.875rem 2.25rem 1.5rem 2.25rem;
    display: flex;
    flex-direction: column
}

.heading.svelte-5j10or.svelte-5j10or {
    margin-top: 1rem;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 140%
}

.description.svelte-5j10or.svelte-5j10or {
    margin-top: 1rem;
    color: rgba(56, 54, 55, 0.7)
}

.benefits.svelte-5j10or.svelte-5j10or {
    margin-top: 1.7rem;
    color: rgba(56, 54, 55, 0.7)
}

.benefits.svelte-5j10or li.svelte-5j10or {
    display: flex;
    align-items: center
}

.benefits.svelte-5j10or img.svelte-5j10or {
    height: 40px;
    margin-left: -5px;
    margin-right: 10px
}

.call-to-action.svelte-5j10or.svelte-5j10or {
    margin-top: 0.7rem
}

.call-to-action.svelte-5j10or .note.svelte-5j10or {
    text-align: center
}

#as3cf-settings.wpome div.panel.settings .header img.svelte-yact8k.svelte-yact8k {
    width: var(--as3cf-settings-ctrl-width);
    height: var(--as3cf-settings-ctrl-width)
}

.provider-details.svelte-yact8k.svelte-yact8k {
    display: flex;
    flex-direction: column;
    flex: auto;
    margin-left: var(--as3cf-settings-option-indent);
    z-index: 1
}

#as3cf-settings.wpome div.panel .provider-details.svelte-yact8k h4.svelte-yact8k {
    margin-left: 0;
    margin-bottom: 0.5rem
}

#as3cf-settings.wpome div.panel .console-details.svelte-yact8k.svelte-yact8k {
    display: flex;
    align-items: center;
    font-size: 0.75rem
}

.console-details.svelte-yact8k .console.svelte-yact8k {
    flex: 0 1 min-content;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

#as3cf-settings.wpome div.panel .console-details.svelte-yact8k a[target="_blank"].console.svelte-yact8k:after {
    margin-right: 0
}

#as3cf-settings.wpome div.panel .console-details.svelte-yact8k .region.svelte-yact8k {
    flex: 1 0 auto;
    color: var(--as3cf-color-gray-500);
    margin: 0 0.5rem
}

.toggler.svelte-k1tgof:not(.toggleDisabled) {
    cursor: pointer
}

#as3cf-settings.wpome div.panel.settings .header img.svelte-54jmjg.svelte-54jmjg {
    width: var(--as3cf-settings-ctrl-width);
    height: var(--as3cf-settings-ctrl-width)
}

.provider-details.svelte-54jmjg.svelte-54jmjg {
    display: flex;
    flex-direction: column;
    flex: auto;
    margin-left: var(--as3cf-settings-option-indent);
    z-index: 1
}

#as3cf-settings.wpome div.panel .provider-details.svelte-54jmjg h4.svelte-54jmjg {
    margin-left: 0;
    margin-bottom: 0.5rem
}

#as3cf-settings.wpome div.panel .console-details.svelte-54jmjg.svelte-54jmjg {
    display: flex;
    align-items: center;
    font-size: 0.75rem
}

.console-details.svelte-54jmjg .console.svelte-54jmjg {
    flex: 0 1 min-content;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

#as3cf-settings.wpome div.panel .console-details.svelte-54jmjg a[target="_blank"].console.svelte-54jmjg:after {
    margin-right: 0
}